.DS_STORE
*~
.cache*
cached_albums/*/*.png
cached_albums/*/*.jpg
auth.sh
run.sh
.vscode
venv
__pycache__
db.sqlite3
src/media/*/*.png
src/media/*/*.jpg
src/.spotify_caches/*.cache
src/static/admin/*
src/gac.json