{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'visualizer/vis.css' %}" />
  <title>AlbumVis - Spotify Album Visualizer</title>
</head>

<body id="body" style="background-color: black; margin: 0;">
  <script src={% static 'polling.js' %}></script>
  <script> window.onload = function () { startPolling('{{ username }}') } </script>
  <!-- <button id="goFS">Go fullscreen</button>
<script>
  var goFS = document.getElementById("goFS");
  goFS.addEventListener("click", function() {
      document.body.requestFullscreen();
      goFS.hidden = true;
  }, false);
</script> -->

  <img id="vis" src={% static 'start.jpg' %} />
</body>

</html>